[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/antopilo/imgui.git
